body{
font-weight: bold;
font-style: italic;
}
.homeContainer{
   margin-top: -80px;
    /* display: flex;
    text-align: center; */
    background-color: white;
    height: 260px;
}
.heading{
   
    
    margin-top: 20px;
    margin-left: 490px;
    display: flex;
    font-style: italic;
    font-weight: bold;
    align-items: center;
    color: rgb(70, 117, 245);
    text-shadow: 2px 2px black;
    
}
.secondHeading{
    margin-top: 40px;
    margin-left: 490px;
    color: rgb(33, 174, 240);
    text-shadow: 1px 1px black;
    font-style: italic;
    font-weight: bold;
}
.homeContainer i{
    color: rgb(41, 75, 226);
    margin-left: 50px;
    margin-top: 5px;
  
  
}
.logoContainer{
    border: 1px solid rgb(16, 172, 245);
    margin-left: 560px;
    margin-top: 20px;
    width: 110px;
    box-shadow: 2px 2px grey;
    border-radius: 28px;
}

.heading1{
    margin-top: -30px;
    /* margin-left: 300px; */
    
    /* text-shadow: 1px 1px black; */
    font-style: italic;
  
    font-weight: bold;
    margin-left: 0px;
}
.button{
    font-style: italic;
    font-weight: bold;
}